@model ShiftSchedulerMVC.Models.Chromosome

@{
    ViewData["Title"] = "Wynik";
    var allEmployees = Model.Genes
        .SelectMany(g => g.AssignedEmployees)
        .GroupBy(e => e.Id)
        .Select(g => g.First())
        .OrderBy(e => e.Id)
        .ToList();

    var allDates = Model.Genes
        .Select(g => g.Date.Date)
        .Distinct()
        .OrderBy(d => d)
        .ToList();

    var hours = ViewBag.EmployeeHours as Dictionary<string, int> ?? new();
    var leaveDays = ViewBag.LeaveDays as HashSet<(string, DateTime)> ?? new();



    Func<ShiftType, (string Code, string Color)> shiftInfo = shift =>
        shift == ShiftType.Morning ? ("1", "lightgreen") :
        shift == ShiftType.Afternoon ? ("2", "khaki") :
        shift == ShiftType.Night ? ("3", "lightblue") :
        ("", "white");

    Func<DateTime, bool> isWeekend = date =>
        date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday;
}

<style>
    .weekend-header {
        color: red;
        font-weight: bold;
    }
</style>

<h2>Wygenerowany Harmonogram</h2>

<table class="table table-bordered text-center">
    <thead class="table-light">
        <tr>
            <th>Pracownik</th>
            @foreach (var date in allDates)
            {
                var headerClass = isWeekend(date) ? "weekend-header" : "";
                <th class="@headerClass">@date.ToString("dd.MM")</th>
            }
            <th>Łącznie godzin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in allEmployees.OrderBy(k => k.Id))
        {
            <tr>
                <td>@emp.Name</td>
                @foreach (var date in allDates)
                {
                    var gene = Model.Genes
                    .FirstOrDefault(g => g.Date.Date == date && g.AssignedEmployees.Any(e => e.Id == emp.Id));
                    var (code, color) = gene != null ? shiftInfo(gene.Shift) : ("", "white");
                    var empKey = (emp.Id, date);
                    var isOnLeave = leaveDays.Contains(empKey);

                    var finalColor = isOnLeave ? "hotpink" : color;

                    <td style="background-color:@finalColor">@code</td>
                }
                <td>@(hours.ContainsKey(emp.Id) ? hours[emp.Id] : 0)</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <strong>Legenda:</strong>
    <span style="background-color:lightgreen;padding:2px 6px;">1</span> poranna,
    <span style="background-color:khaki;padding:2px 6px;">2</span> popołudniowa,
    <span style="background-color:lightblue;padding:2px 6px;">3</span> nocna
    <span style="background-color:hotpink;padding:2px 6px;">&nbsp;</span> urlop
</p>

<form asp-action="Drafts" method="get">
    <button type="submit" class="btn btn-success">Sprawdź harmonogram</button>
</form>

